[submodule "dbt-utils"]
	path = dbt-utils
	url = https://github.com/fishtown-analytics/dbt-utils
	branch = master
[submodule "dbt-expectations"]
	path = dbt-expectations
	url = https://github.com/swanderz/dbt-expectations
	branch = compat_integration
