[submodule "dbt-utils"]
	path = dbt-utils
	url = https://github.com/fishtown-analytics/dbt-utils
	branch = master
[submodule "dbt-expectations"]
	path = dbt-expectations
	url = https://github.com/calogica/dbt-expectations
	branch = main
[submodule "dbt-date"]
	path = dbt-date
	url = https://github.com/calogica/dbt-date
	branch = main
[submodule "dbt-audit-helper"]
	path = dbt-audit-helper
	url = https://github.com/fishtown-analytics/dbt-audit-helper
    branch = master
